// Import fonts from google.
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Work+Sans:wght@200;300;400;500&display=swap");

// Variable.
$purple: #5a61ed;
$white: #fff;
$black: #111;
$input_bottom: #f2f2f2;
$input_name: #7c7c7c;
$input_font: "Work Sans";

// Zero margins and paddings, add box-sizing for all blocks.
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

.main {
	position: relative;
	top: 0;
	&__bg-image {
		position: absolute;
		top: 126px;
		right: 0px;
		z-index: -1;
	}
	// width: 411px;
	// height: 411px;
	// background-image: url(../images/svg/Shape.svg);
	// background-repeat: none;
}

.container {
	max-width: 665px;
	height: 100vh;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.block {
	width: 137px;
	height: 481px;
	position: relative;
	top: 0;
	display: flex;
	align-items: flex-end;
	background-color: $purple;
	&__sign {
		position: absolute;
		bottom: 44px;
		left: 23px;
		min-width: 162px;
		font-family: "PT Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 4.9rem;
		line-height: 6.3rem;
		letter-spacing: 0.5px;
		color: $white;
		transform: rotate(-90deg);
	}
}

.content {
	display: flex;
	box-shadow: (0px 12px 82px rgba(0, 0, 0, 0.2));
	&__wrapper {
		height: 481px;
		display: flex;
		flex-direction: column;
		padding: 39px 22px 33px 21px;
	}
	&__title {
		font-family: $input_font;
		font-size: 22px;
		font-weight: 500;
		line-height: 26px;
		letter-spacing: -0.46px;
		color: $black;
	}
	&__subtitle {
		font-family: $input_font;
		font-size: 14px;
		font-weight: 300;
		line-height: 16px;
	}
}

.form {
	width: 100%;
	height: 100%;
  gap: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: none;
  margin: 20px 0 0 0;
	&__input-field {
		width: 235px;
		height: 28px;
		border: none;
		border-bottom: 1px solid $input_bottom;
		font-family: $input_font;
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		&:focus {
			outline: none;
		}
	}
	&__input-name {
		font-family: $input_font;
		font-size: 12px;
		line-height: 14px;
		color: $input_name;
	}
	fieldset {
		width: 235px;
		display: flex;
		align-items: center;
		border: none;
		label {
			margin: 0 20px 0 3px;
			font-family: $input_font;
			font-size: 14px;
			font-weight: 500;
			line-height: 16px;
		}
	}
}

// Class for align input fields in row
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 13px;
	label {
		display: flex;
		flex-direction: column;
	}
}

.btn {
	height: 32px;
	width: 154px;
	border: none;
	color: $white;
	background-color: $purple;
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
  cursor: pointer;
}

.login {
	font-family: $input_font;
	font-size: 13px;
  font-weight: 300;
	line-height: 15px;
	color: #000;
	a {
		font-weight: 500;
		color: $purple;
	}
}

.radio {
	outline: $purple;
  cursor: pointer;
}

.nationality {
  margin-left: -4px;
}